name: Shared Deploy Workflow

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      environment:
        required: true
        type: string
      region:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Deploying tag=${{ inputs.tag }}"
          echo "Env=${{ inputs.environment }}"
          echo "Region=${{ inputs.region }}"
